/* Lexical Checklist Styles */
ul.lexical-checklist {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

ul.lexical-checklist li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 4px;
  list-style-type: none;
}

ul.lexical-checklist li:before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid #d1d5db;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 2px;
  cursor: pointer;
  background-color: white;
}

ul.lexical-checklist li.lexical-list-item-checked:before {
  background-color: #8165cf;
  border-color: #8165cf;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white' stroke-width='3'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7'/%3E%3C/svg%3E");
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
}

ul.lexical-checklist li.lexical-list-item-checked {
  text-decoration: line-through;
  color: #9ca3af;
}
